**/.dockerignore
**/.git
**/.gitignore
**/.project
**/.settings
**/bin
**/obj
**/.toolstarget
**/node_modules
**/.vs
**/.vscode
**/Dockerfile*
**/docker-compose*
**/*.md
**/charts
**/.idea
**/*.development.json
**/*.development.yml
**/tests/bin
**/tests/obj